body {
	background-color: aliceblue;
	margin:0;
}

.button {
    border-radius: 20%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    display: inline-block;

    /*button size*/
    height: 60px;
    width: 200px;

    cursor: pointer;
    transition: 1s;
    margin-left: 1em;
    margin-top: 1em;
    color: white;
      }

header {
	background-color: royalblue;
	padding: 1px;
	text-align: center;
	font-size: 100%;
	color: white;
}

.button:hover {
  transform: scale(1.1);

}
.button:after {
  transform: scale(0.74);

}


.button1 {
	background-color: lightskyblue;

}

.button2 {
	background-color: skyblue;
		

}
.button3 {
	background-color: orange;
}

img {
	border-radius: 20%;
	float:left;
	margin-left: 10px;
	margin-top: 20px;
}

.headings {
	padding-left: 10px;
}
